# -----------------------------------------------------------------------
# Copyright		: GSoft @2014
# Model  		: Cross Site Publishing CMS
# File          : Setup-PageLayouts.ps1.template
# Description	: Create page layouts
# -----------------------------------------------------------------------

Write-Warning "Applying Page Layouts configuration..."

# Activate feature on the root web on the authoring site collection
Switch-DSPFeature -Url [[DSP_PortalPublishingHostNamePath]]  -Id [[DSP_CommonCMS_PageLayouts]]
