<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\Source\GSoft.Dynamite.Portal.Contracts\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Portal.Core\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Portal.SP.Authoring\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Portal.SP.Publishing\packages.config" />
</repositories>