<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\Source\Dynamite.Demo.Intranet.Contracts\packages.config" />
  <repository path="..\Source\Dynamite.Demo.Intranet.Core\packages.config" />
  <repository path="..\Source\Dynamite.Demo.Intranet.ServiceLocator\packages.config" />
  <repository path="..\Source\Dynamite.Demo.Intranet.SP\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Portal.Contracts\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Portal.Core\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Portal.Scripts\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Portal.SP.Authoring\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Portal.SP.Publishing\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Publishing.Contracts\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Publishing.Core\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Publishing.SP\packages.config" />
</repositories>