<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\Source\GSoft.Dynamite.Common.Contracts\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Common.Core\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Design.Contracts\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Design.Core\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Design.SP\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Docs.Contracts\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Docs.Core\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Docs.SP\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.LifeCycle.Contracts\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.LifeCycle.Core\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.LifeCycle.SP\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Migration.Contracts\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Migration.Core\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Migration.SP\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Models.CrossSitePublishingCMS.Tests\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Models.StandardPublishingCMS\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Multilingualism.Contracts\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Multilingualism.Core\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Multilingualism.SP\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Navigation.Contracts\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Navigation.Core\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Navigation.SP\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Publishing.Contracts\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Publishing.Core\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Publishing.SP\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Search.Contracts\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Search.Core\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.Search.SP\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.VanillaCrossSiteCMS.Scripts.Tests\packages.config" />
  <repository path="..\Source\GSoft.Dynamite.VanillaCrossSiteCMS.Scripts\packages.config" />
</repositories>