# -----------------------------------------------------------------------
# Copyright		: GSoft @2014
# Project		: GSoft Dynamite Portal
# File          : New-SPTermDrivenPages.ps1.template
# Description	: Set the term driven configuration
# -----------------------------------------------------------------------

# ------------------------ Log Init -------------------------------------
$0 = $myInvocation.MyCommand.Definition
$CommandDirectory = [System.IO.Path]::GetDirectoryName($0)
$ScriptName = [System.IO.Path]::GetFileNameWithoutExtension($MyInvocation.MyCommand.Name)

$LogFolder = $CommandDirectory + "\Logs"
if(!(Test-Path -Path $logFolder )){
    New-Item -ItemType directory -Path $LogFolder
}

$LogTime = Get-Date -Format "MM-dd-yyyy_hh-mm-ss"
$LogFile = $CommandDirectory + "\Logs\" +  $ScriptName +"_Portal_"+$LogTime +".log"

# Stat log transcript
Start-Transcript -Path $LogFile
# -----------------------------------------------------------------------

$inputFile = $CommandDirectory + "\..\..\" + "[[DSP_TermDrivenPagesConfigFile]]"
New-DSPTaxonomyNavigationSettings -XmlPath $inputFile

# ------------------------ Log End --------------------------------------
# Stop log transcript
Stop-Transcript
# -----------------------------------------------------------------------

