# -----------------------------------------------------------------------
# Copyright		: GSoft @2014
# Project		: GSoft Dynamite Portal
# File          : Export-SPTerms.ps1.template
# Description	: Export SharePoint terms for the current application
# -----------------------------------------------------------------------

$0 = $myInvocation.MyCommand.Definition
$CommandDirectory = [System.IO.Path]::GetDirectoryName($0)

$PortalNavigationTermGroupConfigFile = $CommandDirectory + "\..\..\" + "[[DSP_PortalNavigationTermGroupConfigFile]]"
$PortalGeneralTermGroupConfigFile = $CommandDirectory + "\..\..\" + "[[DSP_PortalGeneralTermGroupConfigFile]]"
$PortalCatalogsTermGroupConfigFile = $CommandDirectory + "\..\..\" + "[[DSP_PortalCatalogsTermGroupConfigFile]]"

##### Portal Navigation TermGroup
Export-SPTerms -Group (Get-SPTaxonomySession -Site "[[DSP_PortalPublishingUrl]]").TermStores[0].Groups["[[DSP_PortalNavigationTermStoreGroup]]"] -OutputFile $PortalNavigationTermGroupConfigFile

##### Portal General TermGroup
Export-SPTerms -Group (Get-SPTaxonomySession -Site "[[DSP_PortalPublishingUrl]]").TermStores[0].Groups["[[DSP_PortalContentTermStoreGroup]]"] -OutputFile $PortalGeneralTermGroupConfigFile

##### Portal Catalog TermGroup
Export-SPTerms -Group (Get-SPTaxonomySession -Site "[[DSP_PortalPublishingUrl]]").TermStores[0].Groups["[[DSP_PortalCatalogTermStoreGroup]]"] -OutputFile $PortalCatalogsTermGroupConfigFile


