# -----------------------------------------------------------------------
# Copyright		: GSoft @2014
# Project		: GSoft Dynamite Portal
# File          : Export-SPTerms.ps1.template
# Description	: Export SharePoint terms for the current application
# -----------------------------------------------------------------------

$0 = $myInvocation.MyCommand.Definition
$CommandDirectory = [System.IO.Path]::GetDirectoryName($0)

$PortalNavigationTermGroupConfigFile = $CommandDirectory + "\..\..\" + "[[DSP_PortalNavigationTermGroupConfigFile]]"
$PortalContentTermGroupConfigFile = $CommandDirectory + "\..\..\" + "[[DSP_PortalContentTermGroupConfigFile]]"
$PortalCatalogTermGroupConfigFile = $CommandDirectory + "\..\..\" + "[[DSP_PortalCatalogTermGroupConfigFile]]"

##### Portal Navigation TermGroup
Export-SPTerms -Group (Get-SPTaxonomySession -Site "[[DSP_PortalPublishingUrl]]").TermStores[0].Groups["[[DSP_PortalNavigationTermStoreGroup]]"] -OutputFile $PortalNavigationTermGroupConfigFile

##### Portal Content TermGroup
Export-SPTerms -Group (Get-SPTaxonomySession -Site "[[DSP_PortalPublishingUrl]]").TermStores[0].Groups["[[DSP_PortalContentTermStoreGroup]]"] -OutputFile $PortalContentTermGroupConfigFile

##### Portal Catalog TermGroup
Export-SPTerms -Group (Get-SPTaxonomySession -Site "[[DSP_PortalPublishingUrl]]").TermStores[0].Groups["[[DSP_PortalCatalogTermStoreGroup]]"] -OutputFile $PortalCatalogTermGroupConfigFile


