# -----------------------------------------------------------------------
#
# Copyright		: GSoft @2013
# Project		: GSoft Dynamite Portal
# File          : Import-SPTerms.ps1.template
# Description	: Initialize SharePoint terms for the current application
#
# -----------------------------------------------------------------------

# ------------------------ Log Init -------------------------------------
$0 = $myInvocation.MyCommand.Definition
$CommandDirectory = [System.IO.Path]::GetDirectoryName($0)
$ScriptName = [System.IO.Path]::GetFileNameWithoutExtension($MyInvocation.MyCommand.Name)

$LogFolder = $CommandDirectory + "\Logs"
if(!(Test-Path -Path $logFolder )){
    New-Item -ItemType directory -Path $LogFolder
}

$LogTime = Get-Date -Format "MM-dd-yyyy_hh-mm-ss"
$LogFile = $CommandDirectory + "\Logs\" +  $ScriptName +"_Portal_"+$LogTime +".log"

# Stat log transcript
Start-Transcript -Path $LogFile
# -----------------------------------------------------------------------

$PortalNavigationTermGroupConfigFile = $CommandDirectory + "\..\..\" + "[[DSP_PortalNavigationTermGroupConfigFile]]"
$PortalContentTermGroupConfigFile = $CommandDirectory + "\..\..\" + "[[DSP_PortalContentTermGroupConfigFile]]"
$PortalCatalogTermGroupConfigFile = $CommandDirectory + "\..\..\" + "[[DSP_PortalCatalogTermGroupConfigFile]]"

Import-SPTerms -ParentTermStore (Get-SPTaxonomySession -Site [[DSP_PortalPublishingUrl]]).TermStores[0] -InputFile $PortalNavigationTermGroupConfigFile
Import-SPTerms -ParentTermStore (Get-SPTaxonomySession -Site [[DSP_PortalPublishingUrl]]).TermStores[0] -InputFile $PortalContentTermGroupConfigFile
Import-SPTerms -ParentTermStore (Get-SPTaxonomySession -Site [[DSP_PortalPublishingUrl]]).TermStores[0] -InputFile $PortalCatalogTermGroupConfigFile

# ------------------------ Log End --------------------------------------
# Stop log transcript
Stop-Transcript
# -----------------------------------------------------------------------