# -----------------------------------------------------------------------
# Copyright		: GSoft @2014
# Model  		: Cross Site Publishing CMS
# File          : Setup-ResultSources.ps1.template
# Description	: Create search result sources
# -----------------------------------------------------------------------

Write-Warning "Applying Result Sources configuration..."

# Activate feature on the root web on the publishing site collection
Switch-DSPFeature -Url [[DSP_PortalAuthoringHostNamePath]]  -Id [[DSP_CrossSitePublishingCMS_NAV_ResultSources]]